*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    font-family:Arial,sans-serif;
    background:white;
}

.header{
    width:100%;
    background:white;
    box-shadow:0 2px 10px rgba(0,0,0,0.08);
}

.headerContainer{
    width:90%;
    margin:auto;

    display:flex;
    justify-content:space-between;
    align-items:center;

    padding:20px 0;
}

.logo{
    display:flex;
    align-items:center;
    gap:15px;
}

.logoImg{
    width:60px;
}

.menu{
    display:flex;
    gap:35px;
}

.menu a{
    text-decoration:none;
    color:#222;
    font-weight:bold;
}

.banner{
    width:100%;
    height:700px;

    position:relative;

    overflow:hidden;
}

.bannerImg{
    width:100%;
    height:100%;
    object-fit:cover;
}

.bannerOverlay{
    position:absolute;

    top:50%;
    left:50%;

    transform:translate(-50%,-50%);

    text-align:center;

    color:white;
}

.bannerOverlay h1{
    font-size:60px;
    margin-bottom:20px;
}

.bannerOverlay p{
    font-size:22px;
    margin-bottom:40px;
}

.bannerBtn{
    width:250px;
    height:60px;

    background:transparent;

    border:2px solid white;

    color:white;

    font-size:18px;
    font-weight:bold;

    cursor:pointer;
}

.conteudo{
    width:80%;
    margin:auto;

    padding:80px 0;
}

.conteudo h2{
    font-size:55px;
    margin-bottom:40px;
}

.conteudoImg{
    width:700px;
    max-width:100%;

    display:block;

    margin:auto;

    border-radius:12px;

    margin-bottom:50px;
}

.textoGrande{
    width:100%;

    font-size:22px;
    line-height:1.9;

    color:#444;
}

.textoGrande p{
    margin-bottom:30px;
}

.galeria{
    margin-top:70px;

    display:flex;
    justify-content:center;
    gap:30px;

    flex-wrap:wrap;
}

.galeriaImg{
    width:350px;
    height:250px;

    object-fit:cover;

    border-radius:15px;
}

.paginaSimples{
    width:80%;
    margin:auto;

    padding:100px 0;
}

.paginaSimples h1{
    font-size:50px;
    margin-bottom:25px;
}

.paginaSimples p{
    font-size:22px;
    color:#555;
}

@media(max-width:900px){

.headerContainer{
    flex-direction:column;
    gap:20px;
}

.menu{
    flex-wrap:wrap;
    justify-content:center;
}

.banner{
    height:500px;
}

.bannerOverlay h1{
    font-size:38px;
}

.bannerOverlay p{
    font-size:18px;
}

.conteudo h2{
    font-size:38px;
}

.textoGrande{
    font-size:18px;
}

.galeriaImg{
    width:100%;
}
}